{% extends "base.html" %}
{% load i18n staticfiles wger_extras %}

{% block title %}{% trans "Login" %}{% endblock %}


{% block header %}
{% endblock %}

{% block content %}
<form action="{% url 'core:user:login' %}{% if next %}?next={{next}}{% endif %}"
      method="post"
      class="form-horizontal">
    {% trans 'Login' as submit_text %}
    {% render_form_fields form submit_text %}
</form>

<div class="col-md-offset-3 col-md-9" style="margin-left:40.5%">
    <span><h3 style="margin-left:22.5%">-- {% trans "or" %} --</h3></span>
    <a class="btn btn-social btn-twitter " href="{% url 'social:begin' 'twitter' %}">
    <span class="fa fa-twitter"></span> {% trans 'Twitter' %}
    </a>
    <a class="btn btn-social btn-google " href="{% url 'social:begin' 'google-oauth2' %}">
    <span class="fa fa-google"></span> {% trans 'Google' %}
    </a>
    <a class="btn btn-social btn-facebook " href="{% url 'social:begin' 'facebook' %}">
    <span class="fa fa-facebook"></span> {% trans 'Facebook' %}
    </a>
</div>
{% endblock %}


{% block sidebar %}
<h4>{% trans "No account?" %}</h4>
<p>
    <a href="{% url 'core:user:registration' %}" class="btn btn-block btn-default">
        <span class="{% fa_class 'sign-in' %}"></span>
        {% trans "Register" %}
    </a>
</p>

<h4>{% trans "Forgot password?" %}</h4>
<p>
    <a href="{% url 'core:user:password_reset' %}" class="btn btn-block btn-default">
        <span class="{% fa_class 'key' %}"></span>
        {% trans "Reset password" %}
    </a>
</p>
{% endblock %}
