{% extends "base_features.html" %}
{% load i18n staticfiles wger_extras %}

{#           #}
{# Opengraph #}
{#           #}
{% block opengraph %}
    {{ block.super }}
    <meta property="og:title" content="{% trans 'Features' %} - wger">

    {% with username=owner_user.username %}
        <meta property="og:description" content="{% blocktrans %}wger Workout Manager is a free, open source web application that manages your exercises and workouts. {% endblocktrans %}">
    {% endwith %}
{% endblock %}


{#         #}
{# Content #}
{#         #}
{% block content %}
    <header>
        {% if user.is_authenticated %}
        {% else %} 
        <nav class="navbar navbar-dark navbar-default" id = "mainnav">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img alt="Brand" src="{% static 'images/favicon.png' %}">
                    </a>
                </div>
                <ul class="nav navbar-nav big-darkest-gray">
                </ul>
                <ul class="nav navbar-nav navbar-right">
                        {% if allow_guest_users and not user.is_authenticated %}
                    <li>
                        <a id = "try-now" href="{% url 'core:user:demo-entries' %}" class="btn btn-xl" rel="nofollow">
                        {% trans "Try it now" %}
                        </a>
                    </li>
                    {% endif %}
                    {% if not user.is_authenticated or user.userprofile.is_temporary %}
                        {% if allow_registration %}
                        <li id="regi">
                            <a id = "try-now" class="btn btn-xl" href="{% url 'core:user:login' %}">
                            </span>{% trans "Register" %}
                            </a>
                        </li>
                        {% endif %}
                        <li id="regi">
                            <a id = "try-now" class="btn btn-xl" href="{% url 'core:user:login' %}">
                            </span>{% trans "Login" %}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% endif  %}
        <div class="container">
            <div id="infoCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#infoCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#infoCarousel" data-slide-to="1"></li> 
                </ol>
            
                <!-- Wrapper for slides -->
                <div class="carousel-inner" id="maincar">
                    <div class="item active">
                        <div class="intro-text">
                            <div class="intro-heading" >{% trans "Welcome to wger" %}</div>
                        </div>
                        
                    </div>
              
                    <div class="item">
                        <div class="col-lg-12 text-center" id="intro">
                            <h2 class="section-heading text-light">{% trans "wger manages" %}</h2>
                            <h3 id="section-subheading" class="section-subheading text-muted">
                                    {% blocktrans trimmed %}
                                        your exercises. your workouts. your nutrition. 
                                    {% endblocktrans %}
                            </h3>
                                
                        </div>
                    </div>
                            
                    
                </div>
                
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#infoCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#infoCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>

        </div>
    </header>

    <!-- Services Section -->
    <section id="services" class="bg-darkest-gray">
        <div class="container">
            <div class="tab-content">
                <div>
                    <ul class="nav nav-pills" id="features">
                        <li class="active"id="advantages"><a data-toggle="pill" href="#home">Advantages</a></li>
                        <li id="feature-2"><a data-toggle="pill" href="#menu1">Features</a></li>
                    </ul>
                </div>
                <div id="home" class="tab-pane fade in active">
                    <div class="row text-center">
                        <div class="col-md-4">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class="service-heading text-light">{% trans "Workouts" %}</h4>
                            <p class="text-muted">
                                {% blocktrans trimmed %}
                                    You can create and manage flexible workout routines for any goals you
                                    have. Select exactly which exercises you'll do and how many repetitions,
                                    time or distance you want to do them. You can also combine different
                                    workouts into a schedule.
                                {% endblocktrans %}
                            </p>
                        </div>
                        <div class="col-md-4">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class="service-heading text-light">{% trans "Nutrition" %}</h4>
                            <p class="text-muted">
                                {% blocktrans trimmed %}
                                    Create your personal diet plan by creating as many meals with as many
                                    different ingredients as you need. The application will calculate the
                                    nutritional values (total energy, protein, carbohydrates, and so on)
                                    about the whole plan as well as the indivual meals.
                                {% endblocktrans %}
                            </p>
                        </div>
                        <div class="col-md-4">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class="service-heading text-light">{% trans 'Diary' %}</h4>
                            <p class="text-muted">
                                {% blocktrans trimmed %}
                                    Enter the weights and repetitions you did for each exercise to generate
                                    diagrams that let you see at a glance how well you are doing. The raw
                                    numbers are of course still accessible.
                                {% endblocktrans %}
                                {% trans "You can also enter notes and a general impression (great, neutral, etc.)" %}
                            </p>
                        </div>
                    </div>
                </div>
                
                
                <div id="menu1" class="tab-pane fade">
                    <div class="flex-container text-center">
                        <div id ="flex-one"> 
                            <div class="item active timeline">
                                <li>
                                    <div class="timeline-image">
                                        <img class="img-circle img-responsive" src="{% static 'images/weight-chart.png' %}" alt="">
                                    </div>
                                </li>
                            </div>
                            <h4 class="service-heading text-light">{% trans "Weight tracker" %}</h4>
                            <p class="text-muted">
                                {% blocktrans trimmed %}
                                    Keep track of your progress with the body weight chart. This makes
                                    it easy to see if you are reaching your goals or need to adjust
                                    something.
                                {% endblocktrans %}
                            </p>
                        </div>
                        <div id="flex-one">
                            <div class="item active timeline">
                                <li>
                                    <div class="timeline-image">
                                        <img class="img-circle img-responsive" src="{% static 'images/calendar.png' %}" alt="">
                                    </div>
                                </li>
                            </div>
                            <h4 class="service-heading text-light">{% trans 'Calendar' %}</h4>
                            <p class="text-muted">
                                    {% blocktrans trimmed %}
                                                Get an overview of how and when you trained as well as how you
                                                personally felt you performed. Access all your individual diary
                                                entries with one click.
                                            {% endblocktrans %}
                            </p>
                        </div>

                        <div id="flex-one">
                            <div class="item active timeline">
                                <li>
                                    <div class="timeline-image">
                                        <img class="img-circle img-responsive" src="{% static 'images/muscle-overview.png' %}" alt="">
                                    </div>
                                </li>
                            </div>
                            <h4 class="service-heading text-light">{% trans 'Exercise database' %}</h4>
                            <p class="text-muted">
                                {% blocktrans trimmed %}
                                        The exercise database contains more than hundred exercises from
                                        which you can choose when creating a workout. You can view them by
                                        category and equipment used or muscles trained.
                                {% endblocktrans %}
                            </p>
                        </div>
                        <div id="flex-one">
                            <div class="item active timeline">
                                <li>
                                    <div class="timeline-image">
                                        <img class="img-circle img-responsive" src="{% static 'images/gym-management.png' %}" alt="">
                                    </div>
                                </li>
                            </div>
                            <h4 class="service-heading text-light">{% trans 'Gym management' %}</h4>
                            <p class="text-muted">
                                    {% blocktrans trimmed %}
                                        Use the application for your gym to manage its members, their
                                        workouts and attendance. You can manage the members' contracts,
                                        keep notes and upload any files you might need.
                                    {% endblocktrans %}
                            </p>
                        </div>

                        <div id="flex-one">
                                <div class="item active timeline">
                            <li>
                                <div class="timeline-image">
                                        <img class="img-circle img-responsive" src="{% static 'images/rest-api.png' %}" alt="">
                                    </div></li></div>
                                <h4 class="service-heading text-light">{% trans "REST API" %}</h4>
                                <p class="text-muted">
                                        {% blocktrans trimmed %}
                                        wger provides a REST API with full read and write access to all
                                        data so you can integrate your own application and tools.
                                    {% endblocktrans %}
                                </p>
                        </div>       
                    </div>
                </div>
            </div>

        </div>
    </section>




{% endblock %}
